body {
	font-family:arial ;
	background-color : Gray ;
}
p {
	
	text-align:justify ;
	font-size: 12 ;
	margin-left: 5px ;
	margin-top: 10 ;
	
}
h1{
	
text-transform : uppercase;
text-align : right ;
font-size: 30px ;
}
h2{
	
text-transform : uppercase;
text-align : right ;

}

.but {
display: inline-block;
background-color: LightGray;
color: black;
padding: 10px 20px;
text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
border: 10px;
}

.gremio{
	
	color  : blue ;
	
}
.inter{
	
	color: yellow ;
	font-style:italic ;
}

.cbf {
	
	color:yellow ;
	
}
